.header{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    padding: 1% 5%;
    border-bottom: 1px solid gray;
    background-color: transparent;
}
.list{
    display: flex;
    gap: 20px;
    align-items: center;
}
.forright{
    padding: 10px;
    text-align: center;
    background-color: orange;
    font-size: 20px;
    color: white;
}
.header__left{
    text-align: center;
    span{
        font-size: 24px;
        font-weight: bolder; }
}
.link{
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
    color: black;
}