label{
    display: block;
    font-size: 30px;
}
.input{
    padding: 14px 20px;
    width: 100%;
    margin-top: 12px;
    border-radius: 12px;
    border: 1px solid blue;
}
.formik{
    width: 45%;
    padding: 5%;
    border: 1px solid black;
    border-radius: 12px;
}
.divv{
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1{
    padding: 15px  ;
    width: 100%;
    margin-top: 12px;
    background-color: orange;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}